In [49]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error

#dataset
data = pd.read_csv(r'G:\DNS Exfiltration Dataset\UNSW-NB15 Dataset\UNSW-NB15_50split.csv', nrows=10000000, header=None)

c:\python39\lib\site-packages\IPython\core\interactiveshell.py:3398: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [50]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,175.45.176.3,63997,149.171.126.16,53,udp,INT,0.000011,118,0,254,...,NaN,1,1,1,2,1,1,1,Generic,1
1,175.45.176.3,59883,149.171.126.16,53,udp,INT,0.000010,214,0,254,...,NaN,1,1,1,2,1,1,1,Generic,1
2,175.45.176.1,40281,149.171.126.10,53,udp,INT,0.000023,188,0,254,...,NaN,1,1,1,1,1,1,1,Reconnaissance,1
3,175.45.176.3,49934,149.171.126.16,53,udp,INT,0.000011,490,0,254,...,NaN,1,1,1,2,1,1,1,Generic,1
4,175.45.176.3,33432,149.171.126.14,53,tcp,FIN,0.529554,660,268,254,...,NaN,1,1,2,2,1,1,2,DoS,1

In [51]:
x = data[[22]]


label = data[48]

print(label.shape)

(421262,)

In [52]:
from sklearn.model_selection import train_test_split, cross_val_score

X_train, X_test, y_train, y_test = train_test_split(x, label, test_size=0.35, random_state=42)

In [53]:
chunk = int(X_train.shape[0] * 0.2)
# print(chunk)
X_train = X_train.head(chunk)
y_train = y_train.head(chunk)
# X_train.head()
# y_train.head()
print(X_train.shape[0]+X_test.shape[0])

202206

In [54]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [55]:
X_train_scaled = scaler.fit_transform(X_train)

In [56]:
X_test_scaled = scaler.transform(X_test)

In [57]:
from sklearn.linear_model import LogisticRegression
import time

model = LogisticRegression()
scores = cross_val_score(model, X_train, y_train, cv=10)

start_time = time.time()
model.fit(X_train_scaled, y_train)
training_time = time.time() - start_time
print("training time:", training_time)

training time: 0.0379946231842041

In [58]:
from sklearn.metrics import accuracy_score

start_time = time.time()
y_pred = model.predict(X_test_scaled)
training_time = time.time() - start_time
print("testing time: ", training_time) 
accuracy = accuracy_score(y_test, y_pred)

print("accuracy: \n", accuracy)

print("10-fold Cross-Validation Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

testing time:  0.002996683120727539
accuracy:
 0.998433282239796
10-fold Cross-Validation Accuracy: 1.00 (+/- 0.00)

In [59]:
# from sklearn.model_selection import GridSearchCV

# param_grid = {'C': [0.1, 1, 10], 'solver': ['liblinear', 'lbfgs', 'saga']}
# grid = GridSearchCV(model, param_grid, cv=5)
# grid.fit(X_train_scaled, y_train)
# best_model = grid.best_estimator_

# best_model.fit(X_train_scaled, y_train)

In [60]:
from sklearn.metrics import confusion_matrix

print("confusion matrix: \n", confusion_matrix(y_test, y_pred))

# y_pred = best_model.predict(X_test_scaled)
# print(confusion_matrix(y_test, y_pred))

confusion matrix:
 [[73535     0]
 [  231 73676]]

In [61]:
np.count_nonzero(y_pred == True)

73676

In [62]:
type(y_test)

pandas.core.series.Series

In [63]:
counter = 0

for i in y_test:
    if i == True:
        counter+=1
        
print(counter)

73907

In [64]:
X_test.shape

(147442, 1)